@import '../../general';

.form {
    max-width: 320px;
    margin: 20px 0 20px 0;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.455);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .form_field{

        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .form_input {
        @include dropdown;

        width: initial;
    }
    

    .label {
        display: block;
    }

    .form_button {
        @include button;
    }
    input, textarea, select{
        &:focus{
            outline: olive dashed 2px;
        }
    }



}