@import '../../general.scss';

.form {
    max-width: 620px;
    margin: 20px 0 20px 0;
    padding: 20px;

    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 10px;
    font-weight: 100;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &_title{
        font-size: 25px;
        font-weight: 700;
    }

    &_container{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .form_field{

        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 270px;
    }

    .form_input {
        @include dropdown;

        width: initial;
    }
    

    .label {
        display: block;
        font-weight: 100;
    }

    .form_button {
        @include button;
        background-color: rgb(170, 170, 170);
        color: black;

        &:hover{
            background-color: rgb(202, 202, 202);
            box-shadow: 0 0 10px rgb(202, 202, 202);
        }
    }
    input, textarea, select{
        &:focus{
            outline: olive dashed 2px;
        }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.form.visisbleFasle{
    @include hide;
}