.form {
    max-width: 320px;
    margin: 20px 0 20px 0;
    padding: 10px;

    background-color: rgba(255, 255, 255, 0.455);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .form_field{

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form_input {
        display: block;
        max-width: 270px;
        min-height: 40px;
        padding: 5px 10px;

        border-radius: 5px;
        border: none;

        font-family: 'Courier New', Courier, monospace;
    }
    

    .label {
        display: block;
    }

    .form_button {
        padding: 10px;

        border: none;
        border-radius: 20px;

        cursor: pointer;

        background-color: rgb(80, 99, 88);
        color: white;

        font-size: 17px;
        font-weight: 900;
        transition: all .3s;
        &:hover{
            background-color: rgb(57, 71, 62);
        }
    }
    input, textarea, select{
        &:focus{
            outline: olive dashed 2px;
        }
    }



}