@import '../../general';

.card{
    background-color: rgb(36, 36, 36);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;

    &_title{
        font-weight: 900;
        font-size: 25px;
    }
    &_date, &_descr{
        font-weight: 100;
        // text-align: right;
    }

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .priority{
        padding: 5px;
        text-align: center;
        border-radius: 20px;
    }

    .date{
        margin-top: 10px;
    }

    .status{
        display: flex;
        gap: 10px;
        align-items: center;

        select{
            @include dropdown;
            margin: 0;
        }
    }

    .low{
        background-color: rgb(80, 117, 79);
    }
    .middle{
        background-color: rgb(154, 119, 54);
    }
    .high{
        background-color: rgb(172, 104, 89);
    }

    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
    }
}

.card.soon {
    background-color: rgb(191, 131, 72);
    box-shadow: 0 0 10px rgb(191, 131, 72);
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
    }
}

.card.overdue {
    background-color: rgba(195, 65, 65, 0.743);
    box-shadow: 0 0 10px rgba(195, 65, 65, 0.743);
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
    }
}