@import '../../general';

.card{
    background-color: $bck-primary-dark;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    position: relative;

    &_emoji{
        top: -15px;
        right: 34px;
        position: absolute;
        font-size: 40px;
    }

    &_title{
        font-weight: 900;
        font-size: 25px;
    }
    &_date, &_descr{
        font-weight: 100;
    }

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .date{
        margin-top: 10px;
    }

    .status{
        display: flex;
        gap: 10px;
        align-items: center;

        select{
            @include dropdown;
            margin: 0;
        }
    }

    &:hover{
        box-shadow: 0 0 10px $bck-primary-darker;
    }
}

.card.soon {
    background-color: $warning;
    box-shadow: 0 0 10px $warning;
    &:hover{
        box-shadow: 0 0 10px $bck-primary-darker;
    }
}

.card.overdue {
    background-color: $danger-dark;
    box-shadow: 0 0 10px $danger-dark;
    &:hover{
        box-shadow: 0 0 10px $bck-primary-darker;
    }
}

@media (max-width: 768px) {
    .card{
        padding: 15px 7px;

        &_emoji{
            top: -15px;
            right: 34px;
            position: absolute;
            font-size: 35px;
        }
    
        &_title{
            font-weight: 900;
            font-size: 17px;
        }

        p{
            font-size: 14px;
        }
    }
}