.card{
    background-color: rgba(255, 255, 255, 0.439);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;

    &_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .priority{
        padding: 5px;
        text-align: center;
        border-radius: 20px;
    }

    .status{
        display: flex;
        flex-direction: column;
        .label {
            margin: 10px 0;
        }
        select{
            display: block;
            max-width: 270px;
            min-height: 40px;
            padding: 5px 10px;
    
            border-radius: 5px;
            border: none;
    
            font-family: 'Courier New', Courier, monospace;
        }
        input, textarea, select{
            &:focus{
                outline: olive dashed 2px;
            }}
    }

    .low{
        background-color: rgb(80, 117, 79);
    }
    .middle{
        background-color: rgb(154, 119, 54);
    }
    .high{
        background-color: rgb(172, 104, 89);
    }

    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.46);
    }
}