@import '../../general';

.App {
    padding: 30px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        border: none;
        background-color: transparent;
        cursor: pointer;


        &:hover{
            path{
                fill: $danger;
                filter: drop-shadow(0 0 5px $danger);
            }
        }
    }
    svg{
        width: 35px;
        height: 35px;
    }
}

.shaded{
    filter: blur(6px);
    pointer-events: none;
}

.bord {
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 20px;
  }

  .buttons{
    max-width: 320px;
    display: flex;
    justify-content: space-between;
  }

.openButton {
    @include button;
}

.form_button{
    position:static;
}

.desk_container{
    position: relative;
}

@media (max-width: 768px) {
    .App{
        padding: 15px;
    }

    .buttons{
        max-width: 280px;
    }

    .header{
        h1{
            font-size: 35px !important;
        }
        svg{
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width: 689px) {
    .bord {
        grid-template-columns: 100%;
        justify-content: center;
        gap: 50px;
      }
}