@import '../../general';

.App {
    padding: 30px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        border: none;
        background-color: transparent;
        cursor: pointer;


        &:hover{
            path{
                fill: $danger;
                filter: drop-shadow(0 0 5px $danger);
            }
        }
    }
    svg{
        width: 35px;
        height: 35px;
    }
}

.shaded{
    filter: blur(6px);
    pointer-events: none;
}
.bord_container{
    position: relative;
    height: fit-content;
    width: 100%;
    .bord {
        width: 100%;
        height:fit-content;
        margin-top: 20px;
        padding: 10px 20px;
        display: flex;
        gap: 20px;
        overflow-x: auto;
      }  
          
      .test{
        border-radius: 10px;
        display: none;
    }  
}


  .buttons{
    max-width: 320px;
    display: flex;
    justify-content: space-between;
  }

.openButton {
    @include button;
}

.form_button{
    position:static;
}

.desk_container{
    position: relative;
}

@media (max-width: 890px) {
    .bord_container{
        position: relative;
        height: 100%;
        width: 100%;
          .test{
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: calc(100vw - 60px);
            height: inherit;
            box-shadow:  inset 20px 0 20px -20px black, inset -20px 0 20px -20px black;
        }
    }
}

@media (max-width: 768px) {
    .App{
        padding: 15px;
    }

    .bord_container{
        .test{
            width: calc(100vw - 30px);
        }
    }

    .buttons{
        max-width: 280px;
    }

    .header{
        h1{
            font-size: 35px !important;
        }
        svg{
            width: 25px;
            height: 25px;
        }
    }
}
