@import '../../general';

.App {
    padding: 30px;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
        border: none;
        background-color: transparent;
        cursor: pointer;


        &:hover{
            path{
                fill: $danger;
                filter: drop-shadow(0 0 5px $danger);
            }
        }
    }
    svg{
        width: 35px;
        height: 35px;
    }
}

.shaded{
    filter: blur(6px);
    pointer-events: none;
}

.bord {
    width: 100%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 20px;
  }

.openButton {
    @include button;
    position: absolute;
    top: -50px;
}

.form_button{
    position:static;
}

.desk_container{
    // display: flex;
    // flex-direction: column;
    // gap: 20px;
    position: relative;
}