@import '../../general';

.modal{
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $bck-primary-dark;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 20;
    color: $primary;   
    text-shadow: 0 0 30px $primary;

    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate; 

    @keyframes example {
        0%    {color:$bck-primary-darker;   text-shadow: none;  }
        100%  {color:$primary;    text-shadow: 0 0 30px $primary;  }
    }

    .response {
        font-size: 75px;
        font-weight: 900;

        text-align: center;
    }
}