@import '../../general';

.login_page{
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1{
        font-size: 70px;
        font-weight: 100;
        margin: 0 0 40px 0;
    }
    button{
        @include button;
        width:fit-content;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .login_page {
        padding: 15px;
       h1{
        font-size: 50px;
       }
       button{
        width:max-content;
        padding: 10px;
       }
    }
}