@import '../../general';

.login_page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1{
        font-size: 70px;
        font-weight: 100;
        margin: 0 0 40px 0;
    }
    button{
        padding: 15px 20px;
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 30px;

        background-color: $bck-primary-dark;
        color: white;

        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            background-color: $primary;  
            box-shadow: 0 0 20px $primary;
        }
    }
}