.delete{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: relative;

    border-radius: 100%;

    // background-color: rgb(255, 255, 255);

    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        display: block;
        width: 3px;
        height: 20px;
        transform: translate(-50%, -50%) rotate(45deg);

        background-color: rgb(255, 255, 255);
    }
    &::after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;

        display: block;
        width: 3px;
        height: 20px;
        transform: translate(-50%, -50%) rotate(-45deg);

        background-color: rgb(255, 255, 255);
    }
}