// variables

$bck-primary: rgb(48, 48, 48);
$bck-primary-dark: rgb(31, 31, 31);
$bck-primary-darker: rgb(20 20 20);

$primary: rgb(125, 0, 192);

$light: rgb(202, 202, 202);
$light-dark: rgb(170, 170, 170);

$danger: rgba(212, 82, 82, 0.743);
$danger-dark:rgba(195, 65, 65, 0.743);

$warning: rgb(191, 131, 72);


@mixin dropdown {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 5px 20px;
    margin-bottom: 20px;

    border-radius: 20px;
    border: 1px solid white;

    background-color: transparent;
    color: white;
    box-shadow: 0 0 2px white;

    font-weight: 100;

    &:focus{
        border: none;
        outline: rgb(209, 1, 198) solid 1px;
        box-shadow: 0 0 5px rgb(209, 1, 198);
    }
}

@mixin button {
    width: 150px;
    padding: 10px;


    border: none;
    border-radius: 20px;

    cursor: pointer;

    background-color: rgb(31, 31, 31);
    color: white;

    font-size: 17px;
    font-weight: 300;
    transition: all .3s;
    &:hover{
        background-color: rgb(125, 0, 192);  
        box-shadow: 0 0 20px rgb(125, 0, 192);
    }
}

@mixin hide {
    display: none;
}