@mixin dropdown {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 5px 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    border: none;

    font-family: 'Courier New', Courier, monospace;


    &:focus{
        outline: olive dashed 2px;
    }
}

@mixin button {
    padding: 10px;

        border: none;
        border-radius: 20px;

        cursor: pointer;

        background-color: rgb(80, 99, 88);
        color: white;

        font-size: 17px;
        font-weight: 900;
        transition: all .3s;
        &:hover{
            background-color: rgb(57, 71, 62);
        }
}