@import '../../general';

.sort_container{
    max-width: 320px;
    margin: 10px 0;
    display: flex;
    gap: 15px;

    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;

    .sort {
        @include dropdown;
        margin: 0;
    }
}