@import '../../general';

.desk {
    padding: 20px 10px 10px;

    border-radius: 10px;
    color:white;

    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title{
        font-size: 35px;
        font-weight: 900;
        text-align: center;
    }

    .divider{
        width: 100%;
    }
}

.desk.visisbleFasle{
    @include hide;
}

@media (max-width: 768px) {
    .desk {
        max-width: 290px;
        padding: 15px 7px 7px;

        &_title{
            font-size: 25px;
        }
    }
}

@media (max-width: 689px) {
    .desk {
        max-width: 100%;
      }
}
